<footer class="footer">
    <div class="footer__inner">
        <p class="footer__text">© 2025 Група <span class="footer__group-name">{{ studentGroup }}</span></p>


        <address class="footer__contacts" aria-label="Наші контакти">
            <h3 class="footer__contacts-title">Наші контакти</h3>
            <ul class="footer__contacts-list">
                <li class="footer__contacts-item">
                    <span class="footer__label">Email:</span>
                    <a class="footer__link" href="mailto:team@example.com">{{ studentEmail }}</a>
                </li>
                <li class="footer__contacts-item">
                    <span class="footer__label">Телефон:</span>
                    <a class="footer__link" href="tel:+380501112233">+38 (050) 111-22-33</a>
                </li>
                <li class="footer__contacts-item">
                    <span class="footer__label">Адреса:</span>
                    <span>Запоріжжя, вул. Університетська, 66Б</span>
                </li>
            </ul>
        </address>
    </div>
</footer>